<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{msgs.pageTitle}</title>
    </h:head>

    <h:body style="background: #fefeef">
        <h:form>
            <h3>#{msgs.pageTitle}</h3>
            <h:panelGrid columns="2">

                #{msgs.prompt}
                <h:panelGroup>
                    <!-- Validation occurs after each keystroke -->
                    <h:inputText value="#{mailBean.sendTo}" id="sendTo" >
                        <f:validator validatorId="EmailValidator" />
                    </h:inputText>
                <h:message for="sendTo" style="color: red" />
                </h:panelGroup>

                #{msgs.subject}
                <h:inputText value="#{mailBean.subject}" id="subject"/>

                #{msgs.message}
                <h:inputTextarea value="#{mailBean.plainTextMsg}" rows="5" cols="50" id="message" />

                <h:commandButton value="#{msgs.send}" action="#{mailSenderDemo.sendEmail()}"/>
                <h:commandButton value="#{msgs.cancel}"  type="reset" immediate="true" />

            </h:panelGrid>
        </h:form>
    </h:body>
</html>