<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{msgs.pageTitle}</title>
    </h:head>
    <h:body>
        <h:form>
            <h1>#{msgs.pageTitle}</h1>
            <h:panelGrid columns="2">
                #{msgs.prompt}
                <h:outputText value="#{mailBean.sendTo}"/>

                #{msgs.subject}
                <h:outputText value="#{mailBean.subject}" />

                #{msgs.message}
                <h:outputText value="#{mailBean.plainTextMsg}"/>
            </h:panelGrid>
            <h:commandButton value="#{msgs.back}" action="index"/>
        </h:form>
    </h:body>
</html>
